  <main class="login container">
      <div class="row">
        <div class="col-12 col-6-tablet push-3-tablet text-center">
          <h1 class="font-100">Welcome Back</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-6-tablet push-3-tablet col-4-desktop push-4-desktop text-center">
          <form class="form"  #form="ngForm" (ngSubmit)="onSubmit(form)">
            <fieldset>
              <input class="block" type="email" ngModel name="email" placeholder="email">
            </fieldset>
            <fieldset>
              <input class="block" type="password" ngModel name="password" placeholder="password">
            </fieldset>
            <button type="submit" class="button button-primary block login">
              Login
            </button>
          </form>
        </div>
      </div>
    </main>
